div{
  border: 1px solid black;
}
p{
  border: 1px solid black;
}
h2{
  border: 1px solid black;
}
header{
  display: flex;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  color: MediumAquamarine;
  flex-grow: 1;
  justify-content: space-between;
}

.logo{
  display: flex;
  padding-left: 20px;
  align-items: center;
}

.logo span{
  padding-left: 7px;
  /*--font-weight: bold;*/
}

nav{
  padding-right: 30px;
}

nav span{
  display: inline-block;
  padding: 20px 10px;
}

a{
  color: black;
}

/*--main-content*/
.maincontent{
  position:relative;
  display: flex;
  /*align-items: baseline;*/
  position: relative;
  top: 30px;
}

.column.large{
  display: flex;
  flex-wrap: wrap;
  width: 630px;
  margin-right: 20px;
  justify-content: space-between;

}
.column.medium{
  width: 300px;
  margin: 0px 20px;
}
.column.small{
  width: 240px;
  margin-left: 20px;
}
.story{
  font-family: Georgia;
  font-size: 17px;
  color: black;
}
.imagelarge{
  display: flex;
  width: 630px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 20px auto;
  justify-content: center;
}
.imagelarge.main{
background-image:
url("../images/mainstory.png");
margin: 0 auto 20px auto;
font-size: 40px;
justify-content: flex-start;
}
.imagelarge.fall{
  background-image:
  url("../images/fallseason.png");
  width: 300px;
}
.imagelarge.camera{
  background-image:
  url("../images/cameraman.png");
  width: 300px;
}
.imagesmall{
  background-image:
  url("../images/cat.png");
  display: flex;
  width: 300px;
  height: 300px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  margin: 20px auto;
  justify-content: center
}
.main{
  display: block;
}
.column.large .story{
  width: 300px;
}
